// MAIN
.main {
    background-image: url("/images/home/bg.png");
    background-size: cover;

    img {
        object-fit: cover;
        object-position: left;
    }
}

.main-description {
    padding: 50px 0 50px 30px;
}

.main-description {
    h1 {
        font-size: 32px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        color: #e8e8e8;
        font-weight: 400;
        margin-bottom: 100px;
    }
}

.main-benefest {
    padding: 50px 0;
}

.main-benefest__collumn {
    margin-bottom: 85px;
}

.main-benefest__text {
    margin-left: 15px;
    h2 {
        font-size: 20px;
        font-weight: 500;
    }
    p {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.bg__header--logout-project {
    font-size: 20px;
    color: white;
    font-weight: 400;
}
