.shedule__bg {
    background-image: url("/images/schedule/time.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    backdrop-filter: opacity(0.2);
}
